* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding: 20px;
}

header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
}

.container h2 {
    padding-top: 40px;
    margin-bottom: 10px;
}

header img {
    vertical-align: middle;
}

.selection {
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 2px;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list {
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 40px;
    padding-left: 80px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4px;
}

.blue-button {
    color: white;
    background-color: rgb(106, 200, 243);
    border-style: solid;
    border-color: rgb(106, 200, 243);
}

.empty-button {
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    color: lightgrey;
}

ul {
    list-style: none;
    line-height: 50px;
}

.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.check {
    border: 1px solid greenyellow;
    color: greenyellow;
}

.cross {
    border: 1px solid rgb(255, 47, 47);
    color: rgb(255, 47, 47);
}

.icon {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    height: 30px;
    line-height: normal;
}

.editorial {
    background-color: rgb(106, 200, 243);
}

.goals {
    background-color: blueviolet;
}

.recruiting {
    background-color: rgb(91, 241, 209);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: rgb(116, 216, 91);
}

.sales {
    background-color: green;
}