* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding: 20px;
}

header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
}

.container h2 {
    margin-bottom: 14px;
}

header img {
    vertical-align: middle;
}

.selection {
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 2px;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list {
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 40px;
    padding-left: 80px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4px;
}

.blue-button {
    color: white;
    background-color: rgb(106, 200, 243);
    border-style: solid;
    border-color: rgb(106, 200, 243);
}

.empty-button {
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    color: lightgrey;
}

ul {
    list-style: none;
}

.circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    color: greenyellow;
}

.icon {
    display: inline-block;
    background-color: rgb(106, 200, 243);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}